<main>

	<canvas id="creationCanvas"></canvas>

    <script>

        (function(){

            'use strict';

            const creationCanvas = document.querySelector('canvas#creationCanvas');
            const creationCtx = creationCanvas.getContext('2d');

            creationCanvas.width = window.offsetWidth;
            creationCanvas.height = window.offsetHeight;

            

        }());

    </script>

</main>