<main>
	<div id="top">
		
		<div id="pack">
			<div data-id="6"></div>
			<div data-id="5"></div>
			<div data-id="4"></div>
			<div data-id="3"></div>
			<div data-id="2"></div>
		</div>
		
		<div id="shelves">
			<div data-id="0"></div>
			<div data-id="1"></div>
			<div data-id="2"></div>
			<div data-id="3"></div>
			<div data-id="4"></div>
			<div data-id="5"></div>
			<div data-id="6"></div>
			<div data-id="7"></div>
			<div data-id="8 "></div>
		</div>

	</div>

	<div id="bottom">
		
		<div id="racks">

			<div class="top">

				<div data-id="F">
					<span></span>
					<span></span>
				</div>
			
			</div>

			<div class="bottom">

				<div class="left">
					<div data-id="S"></div>
					<div data-id="M"></div>
				</div>

				<div class="right">
					<div data-id="W"></div>
				</div>

			</div>

		</div>

		<div id="printarea">
			
			<div class="left">

			</div>

			<div class="right">

				<div class="column">
					<div data-id="1"></div>
					<div data-id="5"></div>
					<div data-id="2"></div>
					<div data-id="6"></div>
					<div data-id="3"></div>
					<div data-id="7"></div>
					<div data-id="4"></div>
					<div data-id="8"></div>
				</div>

				<div class="column">
					<div data-id="9"></div>
					<div data-id="13"></div>
					<div data-id="10"></div>
					<div data-id="14"></div>
					<div data-id="11"></div>
					<div data-id="15"></div>
					<div data-id="12"></div>
					<div data-id="16"></div>
				</div>

				<div class="column">
					<div data-id="17"></div>
					<div data-id="18"></div>
					<div data-id="19"></div>
					<div data-id="20"></div>
					<div data-id="21"></div>
					<div data-id="22"></div>
					<div data-id="23"></div>
					<div data-id="24"></div>
				</div>

				<div class="column">
					<div data-id="25"></div>
					<div data-id="26"></div>
					<div data-id="27"></div>
					<div data-id="28"></div>
				</div>

			</div>
			
		</div>

	</div>

	<div id="lights">
		<div data-id="1"></div>
		<div data-id="2"></div>
		<div data-id="3"></div>
		<!--<div data-id="4"></div>-->
		<div data-id="5"></div>
		<div data-id="6"></div>
	</div>

</main>

<div id="eventDataOverlay">
	<div id="eventDataDialog">
</div>

<script>

	(function(){
		'use strict';

		console.log('Hello!');
		
		function highlightElement(element, duration){
			document.body.setAttribute('data-displaying-info', 'true');
			element.dataset.focus = "true";

			setTimeout(function(){
				document.body.setAttribute('data-displaying-info', 'false');
				element.dataset.focus = "false";
			}, 3000);
			
		}

		const dialogBox = document.querySelector('#eventDataDialog');
		const shelves = document.querySelector('#top #shelves');
		const lights = document.querySelector('#lights');
		const items = {};

		const WebSocketProtocol = window.location.protocol === "https:" ? 'wss' : 'ws';

		const ws = new WebSocket(`${WebSocketProtocol}://${window.location.host}/`);

		ws.addEventListener('connected', function(e){
			console.log('WebSocket connected:', e);
		}, false);

		ws.addEventListener('message', function(e){

			const MESSAGE_DATA = JSON.parse(e.data);

			let DATA;

			try{
				DATA = JSON.parse(MESSAGE_DATA.data);
			} catch (err) {
				return;
			}

			//const DATA = MESSAGE_DATA.data ? JSON.parse(MESSAGE_DATA.data) : undefined;
			
			console.log(MESSAGE_DATA);
			// console.log(DATA);

			if(DATA.label_id){
				console.log('>>>>>>>>', DATA);

				if(MESSAGE_DATA.topic === "teemill/factory/picking/out"){

					/*{
						"label_id":"11001100",
						"order_id":"00110011",
						"label_options":{
							"Colour":"White",
							"Size":"S"
						},
						"label_destination":"F",
						"user_id":"215",
						"picker_photo_path":"\/path\/to\/defaultpic.jpg",
						"picker_name":"Bobby D.",
						"label_fruens":0.00000000000000000000000001,
						"picks_remaining":268,
						"pick_time_seconds":24,
						"pick_speed_metres_per_second":0.00000000000000000000000001,
						"pickface_id":"2508",
						"pickface_distance_metres":0.00000000000000000000000000,
						"pickface_location":" 4 Eb 35",
						"bulk":0
					}*/

					items[DATA.label_id] = DATA;
					const location = DATA.pickface_location.split(' ').slice(1, DATA.pickface_location.split(' ').length);

					const packingLocation = shelves.querySelector(`[data-id="${ location[0] }"]`);

					if(packingLocation){
						dialogBox.innerHTML = "";

						/*<h3>New Item needs picking!</h3>
						<ul>
							<li>Label ID: <span>144432</span></li>
							<li>Order ID: <span>288864</span></li>
						</ul>*/

						const frag = document.createDocumentFragment();

						const title = document.createElement('h3');
						const info = document.createElement('ul');
						const labelID = document.createElement('li');
						const orderID = document.createElement('li');
						
						title.textContent = "New item needs picking";
						
						labelID.innerHTML = `label ID: <span>${DATA.label_id}</span>`;
						orderID.innerHTML = `Order ID: <span>${DATA.order_id}</span>`;

						frag.appendChild(title);

						info.appendChild(labelID);
						info.appendChild(orderID);

						frag.appendChild(info);
						
						dialogBox.appendChild(frag);

						const packingLocationBounds = packingLocation.getBoundingClientRect();

						dialogBox.style.left = packingLocationBounds.x - (dialogBox.offsetWidth + 50) + "px";
						dialogBox.style.top = packingLocationBounds.y + 20 + "px";

						highlightElement(packingLocation, 3000);

					}
					
				} 
				

			}

			if (MESSAGE_DATA.topic.indexOf('teemill/factory/signals/lights/') > -1){
				console.log('>>>>>>>>>>>>>>>>', "WE'VE GOT LIGHTS!");

				const lightNumber = MESSAGE_DATA.topic.slice(MESSAGE_DATA.topic.length - 1, MESSAGE_DATA.topic.length);
				const isOn = DATA.on;

				if(isOn){
					
					const element = lights.querySelector(`[data-id="${lightNumber}"]`);
					element.style.backgroundColor = `rgba(${DATA.red}, ${DATA.green}, ${DATA.blue}, 0.5)`;

				}

			}

		}, false);

		ws.addEventListener('error', function(err){
			console.log('WebSocket error:', err);
		}, false);

	}());

</script>