<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<link rel='stylesheet' href='/stylesheets/base.css' />
		{{#if stylesheet}}
		<link rel='stylesheet' href='/stylesheets/{{stylesheet}}' />
		{{/if}}
	</head>
	<body data-displaying-info="false">

		{{{body}}}
		
	</body>
</html>
