<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body data-displaying-info="false">

    <img id="teemillLogo" src="/images/teemill.png" alt="Teemill logo"/>
    <img id="ibmLogo" src="/images/ibm_black.png" alt="IBM logo"/>

    {{{body}}}
  </body>
</html>
