<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<link rel='stylesheet' href='/stylesheets/base.css' />
		{{#if stylesheet}}
		<link rel='stylesheet' href='/stylesheets/{{stylesheet}}' />
		{{/if}}
		<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
		<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
	</head>
	<body data-displaying-info="false">

		{{{body}}}
		
	</body>
</html>
