<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800&display=swap');
		</style>
		<link rel='stylesheet' href='/stylesheets/base.css' />
		{{#if stylesheet}}
		<link rel='stylesheet' href='/stylesheets/{{stylesheet}}' />
		{{/if}}
		<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
		<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600,700&display=swap" rel="stylesheet">
	</head>
	<body data-displaying-info="false">

		{{{body}}}
		
	</body>
</html>
