*[data-visible="false"]{
    display: none !important;
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
    margin: 0;
    font-family: 'Lexend', sans-serif;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

main{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 75px;
    box-sizing: border-box; 
    overflow: scroll;
}

main header{
    background: #0c3071;
    padding: 1em 0.5em;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

main header h2{
    font-size: 1em;
    color: white;
}

.closeDialogBtn{
    position: absolute;
    right: 0.8em;
    top: 0.8em;
    font-size: 1em;
    width: 1.2em;
    height: 1.2em;
    background: #d8d8d8;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    background-image: url("/images/closeBtnIcon.png");
    background-size: 50%;
    background-position: 50%;
    background-repeat: no-repeat;
}

#configurePanel #closePanelBtn:hover{
    background-color: #9e9e9e;
}

.side-by-side{
    display: flex;
    align-items: center;
}

.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b1b1b1e6;
    z-index: 20;
}

.modal div.wrapper{
    border: 1px solid #b9b8b8;
    width: 100%;
    max-width: 300px;
    border-radius: 3px;
    position: relative;
    background: white;
    padding: 1.5em;
    border: 1px solid rgb(0 0 0 / 0.5);
    box-shadow: 0 2px 3px rgb(0 0 0 / 0.4);
}

.modal div.wrapper form{
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.modal div.wrapper form input[type="text"]{
    font-size: 1em;
    border: 0px solid transparent;
    border-bottom: 1px solid black;
    padding: 0 0 0.4em;
    margin-bottom: 1em;
    outline: transparent;
}

.modal div.wrapper p{
    padding: 1.5em 0;
}

.modal button, .modal button[type="button"], .modal input[type="submit"] {
    padding: 0.5em 1em;
    background: #000000;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #ffffff;
    text-shadow: 0 1px 1px black;
    box-shadow: 0 2px 3px #7d7d7d;
    min-width: 20%;
    text-align: center;
    cursor: pointer;
    max-width: 150px;
}

.modal .side-by-side button, .modal .side-by-side input[type="submit"]{
    margin-left: 1em;
}

.align-end{
    justify-content: flex-end;
}