*[data-visible="false"]{
    display: none;
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
    margin: 0;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

main{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 75px;
    box-sizing: border-box; 
    overflow: scroll;
}

main header{
    background: black;
    padding: 1em 0.5em;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

main header h2{
    font-size: 1em;
    color: white;
}