#creationCanvas{
    background-color: rgb(245,245,245);
    cursor: crosshair;
}

#nodes{
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    cursor: crosshair;
}

#nodes .node{
    position: fixed;
    cursor: pointer;
}

#configurePanel{
    position: fixed;
    left: 100%;
    top: 0;
    width: 350px;
    height: 100%;
    background: white;
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.6);
    padding: 1em;
    box-sizing: border-box;
    overflow: scroll;
}

#configurePanel[data-active="true"]{
    transform: translateX(-100%);
}