ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul#twins{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 1280px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

ul#twins li.item {
    height: 250px;
    width: 30%;
    border: 1px solid #b9b8b8;
    margin: 0.5em;
    border-radius: 3px;
    position: relative;
    background-size: cover;
    background-position: 50%;
}

ul#twins li.item a.subOptionsToggle {
    position: absolute;
    right: 0.1em;
    top: 0.1em;
    cursor: pointer;
    display: flex;
    height: 1em;
    align-items: center;
    padding: 0.5em;
    z-index: 1;
}

ul#twins li.item a.subOptionsToggle img{
    width: 20px;
}

ul#twins li.item .subOptions{
    position: absolute;
    right: 0;
    top: 0;
    background: white;
    padding: 0;
    padding-top: 1em;
    padding-bottom: 0.5em;
    box-shadow: 0 2px 3px #7d7d7d;
    border-radius: 0 0 0px 3px;
    min-width: 50%;
}

ul#twins li.item .subOptions li {
    padding: 0.3em 01em;
    cursor: pointer;
}

ul#twins li.item .subOptions li:hover{
    background-color: black;
    color: white;
    font-weight: 800;
}

ul#twins li.item .subOptions li:first-of-type {
    margin-top: 0.5em;
}

ul#twins li.item .viewOptions {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    height: 85%;
    justify-content: space-evenly;
    opacity: 0;
    background: rgba(255,255,255,0.5);
}

ul#twins li.item .viewOptions:hover{
    opacity: 1;
}

ul#twins li.item .viewOptions a, form input[type="submit"], button[type="button"] {
    padding: 0.5em 1em;
    background: #000000;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #ffffff;
    text-shadow: 0 1px 1px black;
    box-shadow: 0 2px 3px #7d7d7d;
    min-width: 20%;
    text-align: center;
    cursor: pointer;
    max-width: 150px;
}

ul#twins li.item .viewOptions a:hover{
    background-color: #333333;
    font-weight: 800;
}

ul#twins li.item#createNew{
    cursor: pointer;
    background-image: url('/images/add-twin-icon.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 50%;
}

ul#twins li.item#createNew:hover{
    background-color: #e5e5e5;
}

ul#twins li.item .details{
    position: absolute;
    bottom: 0;
    padding: 0.5em;
    background: white;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #bfbfbf;
}

#createTwinDialog{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b1b1b1e6;
    z-index: 20;
}

#createTwinDialog div.wrapper{
    border: 1px solid #b9b8b8;
    width: 100%;
    max-width: 300px;
    border-radius: 3px;
    position: relative;
    background: white;
    padding: 1.5em;
    border: 1px solid rgb(0 0 0 / 0.5);
    box-shadow: 0 2px 3px rgb(0 0 0 / 0.4);
    padding-bottom: 0.5em;
}

#createTwinDialog div.wrapper form{
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

#createTwinDialog div.wrapper form input[type="text"]{
    font-size: 1em;
    border: 0px solid transparent;
    border-bottom: 1px solid black;
    padding: 0 0 0.4em;
    margin-bottom: 1em;
    outline: transparent;
}

#createTwinDialog div.wrapper form input[type="submit"]{
    width: 100%;
    max-width: 150px;
}

#createTwinDialog div.wrapper form #brokerConfig{
    margin-bottom: 1em;
}

#createTwinDialog div.wrapper form #brokerConfig input{
    margin-bottom: 0;
    width: 100%;
}

#createTwinDialog div.wrapper form #brokerConfig #testBrokerConnection{
    margin-left: 1em;
}

#createTwinDialog div.wrapper form #brokerConfig #testBrokerConnection[data-testing="true"]{
    opacity: 0.25;
    cursor: not-allowed;
}

#createTwinDialog div.wrapper form #brokerConfig #status{
    width: 15px;
    height: 15px;
    background: #c5c5c5;
    border-radius: 100%;
    display: table;
    margin-left: 0.5em;
}

#createTwinDialog div.wrapper form #brokerConfig #status[data-status="connecting"]{
    background: #fb9700;
    animation-duration: 0.5s;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#createTwinDialog div.wrapper form #brokerConfig #status[data-status="success"]{
    background: #35de35;
}

#createTwinDialog div.wrapper form #brokerConfig #status[data-status="fail"]{
    background: #f33e3e;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    33% {
        transform: scale(0.75); 
        opacity: 0.75;
    }
    
    66% {
        transform: scale(1.25); 
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


@media all and (max-width: 768px){
    ul#twins li.item {
        width: 100%;
    }
}