html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#teemillLogo{
    height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    margin: 1em;
}

#ibmLogo{
    height: 35px;
    position: fixed;
    right: 0;
    top: 0;
    margin: 1em;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 990px;
    max-height: 800px;
    flex-direction: column;
    position: absolute;
}

main #top{
    width: 100%;
    height: 50%;
    flex-direction: row;
    display: flex;
    margin-bottom: 2em;
}

main #top #pack{
	height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

main #top #pack div{
	width: 100%;
    flex-grow: 1;
    background: #e6e6e6;
    margin-bottom: 1em;
}

main #top #shelves{
	height: 100%;
    margin: 0;
    flex-grow: 9;
    display: flex;
    margin-left: 2em;
}

main #top #shelves div{
	flex-grow: 1;
    height: 100%;
    background: #e6e6e6;
    margin-left: 1em;
}

main #bottom{
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-top: 1em;
}

main #bottom #racks{
    display: flex;
    flex-grow: 10;
    flex-direction: column;
    margin-bottom: 1em;
}

main #bottom #racks .top, main #bottom #racks .bottom{
	display: flex;
    flex-grow: 1;
}

main #bottom #racks .bottom .left, main #bottom #racks .bottom .right {
	flex-grow: 1;
}

main #bottom #racks .top span {
    background: #e6e6e6;
    flex-grow: 1;
    width: 100%;
    margin-bottom: 0.5em;
}

main #bottom #racks .top *[data-id]{
    display: flex;
    flex-direction: column;
    width: 100%;
}

main #bottom #racks .bottom .left, main #bottom #racks .bottom .right{
    display: flex;
    flex-direction: column;
}

main #bottom #racks .bottom .left{
    margin-right: 0.5em;
}

main #bottom #racks .bottom .right{
    margin-left: 0.5em;
}

main #bottom #racks .bottom .left div, main #bottom #racks .bottom .right div{
    flex-grow: 1;
    background: #e6e6e6;
    margin-bottom: 0.5em;
}

main #bottom #racks .bottom .right div{
    flex-grow: 0.5;
    margin-bottom: 1em;
}

main #bottom #printarea{
    display: flex;
    flex-grow: 1;
}

main #bottom #printarea .left{
    flex-grow: 1;
}

main #bottom #printarea .right{
    display: flex;
    max-width: 75%;
    justify-content: space-around;
}

main #bottom #printarea .right .column{
    width: 25%;
    max-width: 20%;
}

main #bottom #printarea .right .column div[data-id]{
    background: #e6e6e6;
    width: 50px;
    height: 50px;
    margin: 0 1em 1em 0;
    display: inherit;
    float: right;
}

main #lights{
    position: absolute;
    width: 100%;
    height: 100%;
}

main #lights div{
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background: #e6e6e6;
    border-radius: 100%;
    border: 1px solid #cacaca;
    overflow: hidden;
}

main #lights div[data-id="1"]{
    top: 50%;
    left: 0;
}

main #lights div[data-id="2"]{
    top: 95%;
    left: 10%;
}

main #lights div[data-id="3"]{
    left: 55%;
    top: 51%;
}

main #lights div[data-id="5"]{
    top: -5%;
    left: 60%;
}

main #lights div[data-id="6"]{
    left: -5%;
}

main #lights div span{
    display: block;
    width: 100%;
    height: 100%;
}

#eventDataOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}

#eventDataOverlay #eventDataDialog{
    width: 350px;
    background: white;
    box-shadow: 0 3px 5px rgba(0,0,0,0.5);
    padding: 1em 1em 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    height: auto;
    position: fixed;
}

#eventDataOverlay #eventDataDialog::after{
    content: "";
    display: block;
    position: absolute;
    left: 100%;
    width: 50px;
    height: 32px;
    background-image: url('/images/pointer.png');
    top: 50%;
    margin-top: -16px;
}

#eventDataOverlay #eventDataDialog h3{
    margin-top: 0em;
}

#eventDataOverlay #eventDataDialog ul{
    padding: 0;
    margin: 0;
}

#eventDataOverlay #eventDataDialog ul li{
    list-style-type: none;
}

#eventDataOverlay #evetnDataDialog ul li span{
    font-weight: 800;
}

body[data-displaying-info="true"] #eventDataOverlay{
    opacity: 1;
}

*[data-focus="true"]{
    z-index: 100;
}

*[data-flash="true"]{
	animation: flashAnimation 1s infinite;
	-moz-animation: flashAnimation 1s infinite;
	-webkit-animation: flashAnimation 1s infinite;
	-o-animation: flashAnimation 1s infinite;
}

@keyframes flashAnimation{
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes flashAnimation{
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
	
@-webkit-keyframes flashAnimation{
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
	
@-o-keyframes flashAnimation{
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}