main{
    padding-top: 0;
    background-color: #f5f5f5;
}

#creationCanvas{
    cursor: crosshair;
}

img.backgroundImage{
    position: fixed;
    user-select: none;
}

#nodes{
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    cursor: crosshair;
}

#nodes .node{
    position: fixed;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #e6e6e6;
}

#nodes .node[data-transparent="true"]{
    background-color: transparent;
}

#nodes .node[data-selected="true"]{
    border: 3px solid #689fe2;
    z-index: 1000;
}

#nodes .node.ellipse{
    border-radius: 100%;
}

#transcriptPanel{
    position: fixed;
    left: 100%;
    top: 0;
    width: 400px;
    height: 100%;
    background: #333;
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.6);
    padding: 1em;
    box-sizing: border-box;
    overflow: hidden;
    transition: transform 0.25s ease-in-out;
    transform: translateX(10%);
    z-index: 10;
    color: white;
    border: 1px solid white;
    border-top: 0px;
    border-bottom: 0px;
}

#transcriptPanel[data-active="true"]{
    transform: translateX(-100%);
}

#transcriptPanel #closePanelBtn{
    position: absolute;
    right: 1em;
    top: 1em;
    font-size: 1em;
    width: 1.5em;
    height: 1.5em;
    background: #d8d8d8;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    background-image: url('/images/closeBtnIcon.png');
    background-size: 50%;
    background-position: 50%;
    background-repeat: no-repeat;
}

#transcriptPanel #closePanelBtn:hover{
    background-color: #9e9e9e;
}

#transcriptPanel #nodeTopic{
    margin-top: 0.1em;
    border-bottom: 1px solid white;
    padding-bottom: 1em;
}

#transcriptPanel #log{
    padding: 0;
    margin: 0;
    max-height: 100%;
    overflow: scroll;
    box-sizing: border-box;
    padding-bottom: 10vh;
}

#transcriptPanel #log li{
    list-style-type: none;
    margin: 0;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    padding: 0.5em;
    background-color: rgba(0,0,0,0.4);
}

#transcriptPanel #log li span{
    font-size: 0.8em;
}

#transcriptPanel #log li pre{
    font-size: 1.2em;
}

#connectionStatus{
    position: fixed;
    right: 1em;
    bottom: 1em;
    background: white;
    padding: 0.5em 1em;
    font-weight: 800;
    color: black;
    border-radius: 5px;
    border: 1px solid black;
    opacity: 0;
    filter: blur(30px);
    transition: opacity 1s ease-in-out, filter 1s ease-in-out;
}

#connectionStatus[data-active="true"]{
    opacity: 1;
    filter: blur(0px);
}